.navigation {
    display: flex;
    flex-direction: column;

    height: calc(100vh - 32px);
    background: #FAFAFA;
    width: calc(280px - 32px);

    padding: 16px;
    gap: 4px;

    border-right: #F0F0F0 1px solid;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: calc(100% - 16px);
    border-radius: 8px;
    max-height: 32px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 300;

    cursor: pointer;
    transition: all 0.3s;
}

.nav-icon {
    height: 20px;
    width: 20px;
}

.selected {
    background: #F0F0F0;
}

nav:hover:not(.selected) {
    background: #F3F3F3;
}

.profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 6px;
    font-size: 12px;
    font-weight: 400;
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 4px;
    transition: 0.3s;
    margin-left: auto;
}

.logout-button:hover {
    background: #F3F3F3;
}

.profile-icon {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background: #52c41a;
}

.nav-link{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    color: #242424;
    text-decoration: none;
    align-items: center;
}